<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hotel_app_G2">

        <!-- Splash / Launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Guest Flow -->
        <activity android:name=".ui.guest.GuestMainActivity" />
        <activity android:name=".ui.guest.GuestProfileActivity" />
        <activity android:name=".ui.guest.SearchResultsActivity" />
        <activity android:name=".ui.guest.RoomDetailActivity" />
        <activity android:name=".ui.guest.GuestUpdateInfor" />
        <activity android:name=".ui.guest.GuestChangPassword" />

        <!-- Auth -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />

        <!-- Admin Flow -->
        <activity android:name=".ui.admin.AdminMainActivity" />
        <activity android:name=".ui.admin.UserListActivity" />
        <activity android:name=".ui.admin.UserSearchActivity" />
        <activity android:name=".ui.admin.CreateReceptionAccountActivity" />

        <!-- Receptionist Flow -->
        <activity
            android:name="com.example.hotellapp.ui.receptionist.ReceptionistMainActivity"
            android:exported="false" />
        <activity android:name=".ui.receptionist.BookingDetailActivity" />
        <activity android:name=".ui.receptionist.ReceptionistBookingActivity" />
        <activity android:name=".ui.receptionist.RoomStatusActivity" />

    </application>

</manifest>
